html {
  --grayDark: #DDD;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100vh;
}

.c-About {
  position: absolute;
  background: white;
  height: 100px;
  max-width: 23vw;
  top: 1vh;
  right: 1vw;
  padding: .5em;
  z-index: 950;
  overflow: hidden;
  transition: all .5s;
}

.c-About.is-expanded {
  max-width: 25vw;
  height: 96vh;
  max-width: 23vw;
  transition: all .5s;
}

.c-About__title {
  font-size: 1.5em;
  margin: 0 0 .2em 0;
}

.c-About h3{
  margin: 0 0 .5em 0;
}

.c-About__content {
  height: calc(98vh - 18px);
  overflow: auto;
}
.c-About__content small {
  font-size: .7em;
}

.c-About__description {
  margin: 0 0 .5em 0;
}
.c-About__description a {
  color: black;
}

.c-Panel {
  position: absolute;
  background: white;
  height: 98vh;
  top: 1vh;
  overflow: hidden;
  transition: transform .5s;
}

.c-Panel__right {
  right: 1vw;
  width: 25vw;
  transform: translateX(35vw);
  z-index: 1000;
}

.c-Panel__left {
  left: 1vw;
  width: 20vw;
  transform: translateX(-35vw);
  z-index: 900;
}

.c-Panel__right.is-visible,
.c-Panel__left.is-visible {
  transform: translateX(0);
  transition: transform .5s;
}

.c-Panel__leftToggle {
  position: absolute;
  background: white;
  z-index: 1000;
  top: 1vh;
  left: 1vw;
  padding: 8px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  border-radius: 2px;
}

.c-Panel__closePanel {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.c-Panel__header,
.c-Panel__body {
  padding: 8px;
}

.c-Panel__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid var(--grayDark);
}

.c-Panel__body {
  position: relative;
  overflow: auto;
  height: calc(98vh - 18px);
}

.c-Panel__filter {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.c-Video {
  border-bottom: 1px solid var(--grayDark);
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.c-Video__meta {
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;
}
.c-Video__time {
  margin-bottom: .5em;
}

.c-Player {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 73vw;
  height: 98vh;
  top: 1vh;
  left: 1vw;
  background: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.c-Player.is-visible {
  display: flex;
}

.c-Player video {
  width: 100%;
  max-height: 100%;
}

#closePlayer {
  position: absolute;
  top: 4px;
  right: 4px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  background: white;
  padding: 4px;
  z-index: 10;
}

/* Phone: iPhone Max Pro */
@media only screen and (max-width: 428px) { 
  .c-Panel__left {
    width: 50vw;
    transform: translateX(-55vw);
  }

  .c-About {
    height: 100px;
    max-width: 110px;
    z-index: 1001;
  }

  .c-About__description {
    font-size: 0.7em;
  }

  .c-About.is-expanded {
    max-width: 94vw;
  }

  .c-About.is-expanded .c-About__description {
    font-size: 1em;
  }
}
